:root {
    --primary: #7a0000;
    --secondary: #FFB710;
    --ThirdRed: #D84444;
    --orange:#EC391E;
    --pinkprm:#FF9494;
    --white: white;
    --HollowW: rgba(255,255,255,0.3);
    --black: rgb(36, 36, 36);
    --grey: #4B4B4B;
    --widths: 100%;
    --height: 50vh;
}
.Red {
    color: var(--primary) !important;
}

/*_____CartIcon_________*/

.CartIcon {
    color: var(--white);
    position: relative;
    background-color: rgba(0,0,0,0);
    border: 0;
}
.CartAmount{
    position: absolute;
    top: -1vh;
    right: -1vw;
    background-color: var(--ThirdRed);
    color: var(--white);
    border-radius: 50%;
    width: 2vw;
    padding-top: 2%;
    font-size: 1.5rem;
}

.GoCart {
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 25px;
}

@media screen and (max-width: 1280px){
    .CartIcon{
        font-size: 3rem;
    }

    .CartAmount{
        width: 4vw;
        height: 8vh;
        padding-top: 4%;
        right: -2vw;
    }
}



/*_______CART_________*/
.CartContainer{
    background-color: var(--grey);
    width: 100%;
    height: 100vh;
    position: relative;
}
.CartRow{
    background-image: url(../img/background/Hollow_logo_W.png);
    background-size: cover;
    background-position: -10vw 0vh;
    background-repeat: no-repeat;
    height: 100vh;
}

.CartList {
    padding-top: 20vh;
    width: 85%;
    margin: 0 auto;

}

.CLTitle {
    font-size: 6rem;
    color: var(--white);
    text-align: right;
    opacity: 0.3;

}

.ProcessBar {
    height: 8vh;
    margin-bottom:8vh ;
}

.CartBox {
    width: 70%;
}



.CartTable thead{
    background-color: rgba(255,255,255,0.3);
    width: 100%;
}

.CartTable tr {
    display: flex;
    text-align: center;
}

.CartTable tr th {
    padding: 1vh 3.8vw;
    font-size: 1.5rem;
}
.CartTable tr td {
    height: 20vh;
    display: flex;
    align-items: center;
    border-right: 1px dashed var(--HollowW);
}
.CartTHTotal {
    padding: 1vh 5vw !important;
}

.noBorder {
    border: 0 !important;
}
.TableBigTitle {
    padding: 1vh 12vw !important;
}
.Yellow {
    color: var(--secondary) !important;
}

.CartTable tbody {
    border-top: 1px solid var(--secondary) !important;
    border-bottom: 1px solid var(--secondary);
}

.CartImg {
    width: 8vw;
    margin-right: 2vw;
}

.CartImg img{
    width: 100%;
    height: 100%;
}
.CartName {
    width: 16vw;
    color: var(--white);
    font-size: 2rem;
}
.CartListTotal button {
    background-color: rgba(0,0,0,0);
}
.CartListTotal i{ 
    padding: 5vh 5vw;
}
.CartListTotal span {
    font-size: 1.5rem;
    color: rgba(0,0,0,0.3);
}
.CartBtn{ padding: 0 1vw;}
.CartBtn button{
    background-color: rgba(0,0,0,0) !important;
    border: 0;
    color: var(--secondary);
    font-size: 1.5rem;
    padding: 0 1vw;
}

.CartPrice {
    font-size: 1.8rem;
    padding: 0 2vw !important;
}

.TotalPrice {
    font-size: 2rem !important;
}



/*_____ShowTotalBox_____*/

.CartTotal {
    width: 25%;
    background-color: var(--HollowW);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.CTRow {
    width: 80%;
}

.ShowTotal {
    font-size: 1.5rem;
    margin: 1.5vh 0;
    
}

.Total.Red {
    font-size: 2.5rem !important;
    padding: 1.5vw;
}

.STtitle {
    font-size: 1.5rem;

}