:root {
    --primary: #7a0000;
    --secondary: #FFB710;
    --thirdYew:#FEDA85;
    --ThirdRed: #D84444;
    --orange:#EC391E;
    --pinkprm:#FF9494;
    --white: white;
    --HollowW: rgba(255,255,255,0.3);
    --black: rgb(36, 36, 36);
    --grey: #4B4B4B;
    --widths: 100%;
    --height: 50vh;
}
.Red {
    color: var(--primary) !important;
}

/*_____CartIcon_________*/

.CartIcon {
    color: var(--white);
    position: relative;
    background-color: rgba(0,0,0,0);
    border: 0;
}
.CartAmount{
    position: absolute;
    top: -1vh;
    right: -1vw;
    background-color: var(--ThirdRed);
    color: var(--white);
    border-radius: 50%;
    width: 2vw;
    padding-top: 2%;
    font-size: 1.5rem;
}

.GoCart {
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 25px;
}

@media screen and (max-width: 1280px){
    .CartIcon{
        font-size: 3rem;
    }

    .CartAmount{
        width: 4vw;
        height: 8vh;
        padding-top: 4%;
        right: -2vw;
    }
}



/*_______CART_________*/
.CartContainer{
    background-color: var(--grey);
    width: 100%;
    height: 100%;
    position: relative;
}
.CartRow{
    background-image: url(../img/background/Hollow_logo_W.png);
    background-size: cover;
    background-position: -10vw 0vh;
    background-repeat: no-repeat;
    height: 100%;
}

.CartList {
    padding-top: 20vh;
    width: 85%;
    margin: 0 auto;

}

.CLTitle {
    font-size: 6rem;
    color: var(--white);
    text-align: right;
    opacity: 0.3;

}

.ProcessBar {
    height: 8vh;
    margin-bottom:8vh ;
}

.CartBox {
    width: 58vw;
    text-align: left;
}

.CartDetail{
    width: 90%;
    margin: 0 auto;
}

.CartDetail label{
    font-size: 1rem;
    color: var(--orange);
}

.DetailInput {
    border: 0;
    background-color: rgba(0,0,0,0);
    border-bottom: 2px solid var(--orange) !important;
    margin-right: 2vw;
    margin-bottom: 2vh;
    font-size: 2rem;
} 
.CMobile {
    width: 12vw;
}
.CName {
    width: 10vw;
}
.CEmail {
    width: 25vw;
}
.CAddress {
    width: 100%;
}

.UnderLine {
    border-bottom: 3px dashed var(--secondary);
}


.yellowBG {
    background-color: #feda85bc;
    border-radius: 25px;
}


.CartTable thead{
    background-color: rgba(255,255,255,0.3);
    width: 100%;
}

.CartTable tr {
    display: flex;
    text-align: center;
    /* border-top: 1px solid var(--secondary) !important; */
    border-bottom: 1px solid var(--secondary);
}

.CartTable tr th {
    padding: 1vh 3.8vw;
    font-size: 1.5rem;
}
.CartTable tr td {
    height: 20vh;
    display: flex;
    align-items: center;
    border-right: 1px dashed var(--HollowW);
}
.CartTHTotal {
    padding: 1vh 5vw !important;
}

.noBorder {
    border: 0 !important;
}
.TableBigTitle {
    padding: 1vh 12vw !important;
}
.Yellow {
    color: var(--secondary) !important;
}

.CartImg {
    width: 8vw;
    margin-right: 2vw;
}

.CartImg img{
    width: 100%;
    height: 100%;
}
.CartName {
    width: 16vw;
    color: var(--white);
    font-size: 2rem;
}
.CartListTotal button {
    background-color: rgba(0,0,0,0);
}
.CartListTotal i{ 
    padding: 5vh 5vw;
}
.CartListTotal span {
    font-size: 1.5rem;
    color: rgba(0,0,0,0.3);
}
.CartBtn{ padding: 0 1vw;}
.CartBtn button{
    background-color: rgba(0,0,0,0) !important;
    border: 0;
    color: var(--secondary);
    font-size: 1.5rem;
    padding: 0 1vw;
}

.CartPrice {
    font-size: 1.8rem;
    padding: 0 2vw !important;
}

.TotalPrice {
    font-size: 2rem !important;
}



/*_____ShowTotalBox_____*/

.CartTotal {
    width: 25%;
    background-color: var(--HollowW);
    border-radius: 15px;
}
.CTRow {
    width: 80%;
    margin: 0 auto;
}

.CTRow h4{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    text-align: left;
}

.ShowTotal {
    font-size: 1.5rem;
    margin: 1.5vh 0;
    
}

.Total.Red {
    font-size: 2.5rem !important;
    padding: 1.5vw;
}

.STtitle {
    font-size: 1.5rem;

}
.PickSelection p{
    font-size: 1.2rem;
    text-align: right;
    color: var(--grey);
}

.PickSelection .SelectTitle {
    font-size: 1.3rem;
    font-weight: 700;
}

.SelectInput {
    margin-bottom: 1.5rem;
}
.SelectInput input {
    width: 1vw;
    margin-left: 2vw;
    
}
.SelectInput input:checked {
    accent-color: var(--secondary);
}

.SelectInput input:checked + .PickSelection p {
    color: var(--black);
}

.payButton {
    width: 100%;
    background-color: var(--secondary);
    color: var(--white);
    padding: 1vh 0;
    border: 0;
    font-size: 1rem;
    border-radius: 25px;
}

.activeHideBar{
    display: block;
    background-color: var(--secondary);
    color: var(--grey);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;align-items: center;
    padding: 1.5vh 2vw;
}
.hidden {
    display: none;
}
.activeHideBar .barBig{
    color: var(--ThirdRed);
    display: flex;
}
.barBig h4{
    font-weight: 700;
    font-size: 2rem;
}

.activeHideBar .OpenBox {
    border: 0;
    background-color: rgba(0,0,0,0);
    width: 3vw;
    color: var(--grey);
}

.hidebox {
    display: none;
}

.SubmitBtn {
     padding: 1vh;
    color: var(--white);
    font-size: 1rem;
    width: 80%;
    border-radius: 25px;
    border: 0;
}

.LinePay {
    background-color:#06C755;
}

.CreditCardPay{
    background-color: rgb(24, 103, 200);
}

.CollectSelf{
     background-color:var(--secondary);
}

.DarkColor {
    color: var(--black);
}
.DarkColor i{
    height: 2vh;
}
.IconSize {
    font-size: 2rem;
}

.CartInfoBox {
    width: 100%;
}
.Psize {
    font-size: 1rem;
}

/*______CartTotal___Final before Submit last Checked_____*/
.SecondTotal {
    align-items: end;
}
.FTotalTitle {
    font-size: 1.5rem;
    font-weight: 700;
}

.FTotalPrice {
    color: var(--secondary);
    font-size: 1.3rem;
}
.FSTitle{
    font-size: 1.3rem;
    font-weight: 500;
}
.STotalMoney {
    color: var(--primary);
    font-size: 3rem;
    font-weight: 700;
}
.onepb {
    padding-bottom: 1vh;
}