body {
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
  font-size: calc(16px + 2vmin);
}

:root {
    --primary: #7a0000;
    --secondary: #FFB710;
    --orange:#EC391E;
    --pinkprm:#FF9494;
    --white: white;
    --black: rgb(36, 36, 36);
    --widths: 100%;
    --height: 50vh;
}

.black {
    color: rgb(36, 36, 36);
}
.BGwhite {
    background-color: #fff;
}


.MBodyMenu {
    background-image: url('../img/background/RedBG_All.png');
    /* background-color: #7A0000; */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400rem; */
    width: 100vw;
    height: 760vh;
    position: relative;

}
/* .MBodyMenu::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  
} */
.PatternBG {
      background-image: url('../img/background/pattern.png');
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

.Mcontainer {
width: 100vw;
background-image: url('../img/MenuImg/MenuTopBg.jpg');
background-position: top;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}

.Sec5Link {
    text-align: right;
    color: var(--secondary);
    font-size: 0.6rem;
    position: relative;
    font-size: 1.5rem;
    padding-right: 5vw;
    margin-top: 5vh;
}

.Sec5Link::after {
    position: absolute;
    content: '';
    display: block;
    background-image:url('../img/SVG/Arrow_Yellow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;height: 100%;
    top: 4vh;
    left: 0;
    z-index: 100;

}

.BannerContainer{
    display: flex;
    justify-content: space-between;

}

.BannerImg{
    width: 50vw;
    padding-bottom: 5vh;

}
.BannerImg img {
    width: 100%;
    filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
}

.BContent {
    padding-top: 30vh;
    width: 45%;
    text-align: left;
    color: var(--white);
    padding-bottom: 10vh;
    padding-left: 10vw;
}

.BContent h3 {
    font-size: 4rem;
    letter-spacing: 1rem;
}

.BContent p{
    padding-top: 3vh;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
}




/*___MenuSection02__*/

.Mec2{
    margin-top: 15vh;
    width: 100%;
    color: var(--white);
}

.Msec2Title{
    text-align: center;
    font-size: 3rem;
}

.Msec2Box{
    width: 80%;
    margin: 0 auto;
}

.MS2TitleBox{
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    padding: 3vh 0;
    color: var(--secondary);
    margin-top: 1vh;
}

.MS2TitleBox h3{
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.Msec2Content {
    width: 50vw;
    padding-top: 5vh;
}

.Msec2cRight {
    padding-right: 3vw;
}

.Msec2cLeft{
    padding-left: 3vw;
}

.Msec2Image{
    width: 40vw;
    height: 37rem;
    border: 5px solid var(--primary);
    overflow: hidden;
}

.Msec2Image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.MS2Content {
    padding-top: 3vh;
}

.MS2Content p {
    font-size: 2rem;
    text-align: left;
    font-weight: 300;
}
.MS2Price{
    text-align: right;
    color: var(--secondary);
    font-size: 2rem;
    font-weight: 600;
    padding: 5vh 1vw 5vh 0;
    border-bottom: 1px solid var(--white);
}
.MS2Order{
    margin-top: 2vh;
    background-color: var(--primary);
    padding: 3vh 0;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}
.MS2button {
    background-color: rgba(0,0,0,0);
    border: 0;
    color: var(--white);
    width: 100%;
}

.mt-7 {
    margin-top: 3.5rem;
}

.mb-7{
    margin-bottom: 3.5rem;
}

.borderdotTop {
    position: relative;
}

.borderdotTop::before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2%;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, #ccc 50%, transparent 50%);
background-size: 10px 2px;
background-repeat: repeat-x;
    top: 0;left: 0;
}

.borderdotBottom {position: relative;}
.borderdotBottom::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2%;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, #ccc 50%, transparent 50%);
background-size: 10px 2px;
background-repeat: repeat-x;
    bottom: 0vh; left: 0;
}

@media screen and (max-width:1260px){
    .MS2TitleBox h3{
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    .MS2Content p {
        font-size: 1.3rem;
        text-align: left;
    }
    .borderdotBottom::after{
        bottom:0vh;left:0;
        height: 2px;
    }
}

@media screen and (max-width:1903px) {
    
    .borderdotBottom::after{
    bottom: -5vh; left: 0;
    height: 2px;
}
.Msec2Image{
    width: 40vw;
    height: 50rem;
    border: 5px solid var(--primary);
    overflow: hidden;
}
.MS2Content p {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 300;
}
.MS2Price{

    font-size: 3rem;
}
.MBodyMenu {
    height: 802vh;
}
}

@media screen and (max-width: 1280px) {
    .MBodyMenu{
      height: 1020vh;
  }
  .BContent h3 {
      font-size: 3.5rem;
      letter-spacing: .5rem;
  }
  
  .BContent p{
      padding-top: 3vh;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
  }
  .Sec5Link::after {
      top: 6vh;
  }
  .BannerImg{
      width: 55vw;
  }
}


/*_____TabMenu_____*/

.borderBottom{
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, #ccc 50%, transparent 50%);
background-size: 5px 1px;
background-repeat: repeat-x;
}

.TabsBTN {
    display:flex
}

.TabsBTN .w-100 {
    width: 100%;
    height: 100%;
}

.TabsHead {
   width: 100%;
   cursor:pointer;
}
.TabsHead .TabsInImg {
    width: 80%;
    margin: 0 auto;
    padding: 2vh 0;
}
.TabsInImg img {
    width: 100%;
}

/*___Mains___*/

.TabsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.TabsContents {
    text-align: left;
    width: 35vw;
    padding:10vh 0;
}

.TabsContents h3{
    color: var(--secondary);
    font-size: 2.8rem;
    font-weight: 700;
}

.TabsContents .materials {
    font-size: 1rem;
    font-weight: 300;
    width: 55vh;
    padding-top: 1.5vh;
}

.TabsContents span {
    font-size: 1rem;
}

.TabsContents .TabsPrice {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: .1rem;
    margin-right: .5rem;
}

.TabsContents .ContentsDescription {
    font-size: .9rem;
    font-weight: 300;
    width: 33vw;
}

.TabsChili {
    display: flex;
    height: 6vh;
}
.TabsChili img{
    width: 5%;
    filter: drop-shadow(1px 1px 0px rgb(185, 83, 0));
}

.TabsBox .TContentImg{
    width: 30vw;
    padding: 10vh 0;
}

.YellowTabTitle {
    color: #585858 !important;
}

.TabsContents .AddtoCart {
    display: flex;
    justify-content: end;
    color: var(--orange);
    position: relative;
    width: 100%;
    cursor: pointer;
}

.cartBtn::after{
    content: '';
    position: absolute;
    display: block;
    background-image:url('../img/SVG/Arrow_Yellow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 11vw;height: 100%;
    top: 3.5vh;
    right: -1vw;
    z-index: 1000;
}

.cartBtn::before {
    content:'';
    position: absolute;
    display: block;
    border: 1px dashed var(--secondary);
    width: 9.5vw;
    height: 100%;
    bottom: .7vh;
    right: .5vw;
    z-index: 1000;
}
.pb-8 {
    padding-bottom: 4rem;
}

@media screen and (min-width:2000px){

    .TabsContents .AddtoCart {
    padding-right: 3vw;
    font-size: 1.3rem;
}

.cartBtn::after{
    top: 2vh;
    right: -1vw;
    z-index: 1000;
}

.cartBtn::before {
    bottom: .7vh;
    right: .5vw;
    z-index: 1000;
}
.TabsContents .ContentsDescription {
    font-size: 1.1rem;
    width: 28vw;
}

.TabsContents {
    text-align: left;
    width: 35vw;
    padding:10vh 0;
}
}

.Yellow {
    color: var(--secondary) !important;
}